/* NAVBAR */
.navbar-rently.navbar li a{color: #000;}

.navbar {
	border-bottom: 3px solid #FCDE2F;
    background-color: #fff;
    padding: 0px;
    min-height: 0px;
    margin-bottom: 0px;
}

.navbar-rently .nav.navbar-nav li, .navbar-rently  .nav.navbar-nav .dropdown-item{
	font-size: 12px;
	padding: 2px 10px;
	color: #000;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.navbar-rently .nav.navbar-nav .active, .navbar-rently .nav.navbar-nav li.active a{
    background-color: #FCDE2F;
    background-image: none;
    box-shadow: none;
}

.navbar-nav > li > a{
    padding: .5rem 1rem;
}
.navbar-rently  .nav.navbar-nav li:hover, .navbar-rently  .nav.navbar-nav .dropdown-item:hover{
	background-color: #FCDE2F;
	color: #000;
}

.navbar .navbar-nav .dropdown-menu{
	margin-top: 8px;
    border-radius: 0;
    min-width: 5rem;
    padding: 0;
}
.nav.navbar-nav .dropdown-menu .dropdown-item{
    padding: 5px 10px;
}

nav.offcanvas {
    height: 3rem;
}

.navbar-light .navbar-nav li a { color: rgba(0,0,0,1);}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.navbar{
		border: none;
		background-color: #000;
		color: #FFF;
	}
	.navbar-light .navbar-nav li a{
		color: #ccc;}

} 


/* Change NAVBAR Breakpoint */
@media only screen and (min-width: 768px) and (max-width: 1035px) {

    .navbar {
        border-bottom: 3px solid #FCDE2F;
        background-color: #fff;
        color: #000;}
    .navbar-expand-md .navbar-nav li a {
        padding-right: .3rem;
        padding-left: .3rem;
    }
    .top-header{display: flex !important;}
    .top-header .slogan{display: none;}
    .header-social{display: none;}
    .navbar li a { font-size: 11px;}
    }
    